[submodule "ltt_test/canlib"]
	path = ltt_test/canlib
	url = https://github.com/waterloo-rocketry/canlib
[submodule "ltt_test/rocketlib"]
	path = ltt_test/rocketlib
	url = https://github.com/waterloo-rocketry/rocketlib.git
